#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}


.card {
  padding: 2em;
}

p {
  font-size: 1.5em;
}

.status-text {
  font-size: 1.5rem;
}

.title-text {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .status-text {
      font-size: 1em;
  }
}