.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1{
    font-family: 'Quantico', sans-serif;
}

p.counter-text {
    font-family: 'Quantico', sans-serif;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

@media (max-width: 600px) {
    h2, h3, h4, h5, p {
        font-size: 0.9em;
    }
    h1{
        font-size: 1.5em;
    }
}
