.navbar {
    display: fixed;
    justify-content: center;
  }
  
  .nav-item {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  
  .nav-item:hover {
    background-color: #2C2F42;
  }
  