.TimestampsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.TimestampsPage .markdown-content {
    max-width: 800px;
    width: 100%;
}

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    overflow-x: hidden;
  }